.cart-wrapper{
    width: 500px;
    height: 100px;
    border: 1px solid #ccc;
    margin-left: 10%;
}



.img-wrapper img {
    width: 100px;
    margin-top: -20px;
}

.btn-wrapper button{
    background-color: red;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    box-shadow: #000 0px 1px 5px;
}

.item {
    float: left;
    width: 120px;
    padding: 20px;
    height: 70px;
}

.add-to-cart {
    position: absolute;
    top: 1%;
    right: 1%;
}
.add-to-cart img{
    width: 300px;
    height: 100px; 
}